<!DOCTYPE HTML>
<html>

<body>

  <p>Before the script...</p>

  <script src = "static/script.js"></script>
  <button onclick="saluer()">Cliquer pour tester la fonction saluer</button>

  <script>
    /* alert('Hello, world!'); // Affiche le texte
    alert("Hello, world!"); // Affiche le même texte
    alert("1+2+3") // L'absence du ";" n'est pas dommageable
    alert(1+2+3); // Fait le calcul
    alert(A+1+2); // Les erreurs ne sont pas lues, mais bloquent la poursuite de la lecture.
   */
  </script>

  <p>...After the script.</p>

</body>

</html>